Arrakis/obj/Debug/netstandard2.1/Arrakis.csproj.AssemblyReference.cache
.vs/Arrakis/CopilotIndices/17.14.1641.39856/CodeChunks.db
.vs/Arrakis/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
.vs/Arrakis/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
.vs/Arrakis/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/Arrakis/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
.vs/Arrakis/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
.vs/Arrakis/FileContentIndex/431f3d27-30a8-4fe9-8139-a118c13cf714.vsidx
Arrakis/obj/Arrakis.csproj.nuget.dgspec.json
Arrakis/obj/Arrakis.csproj.nuget.g.props
Arrakis/obj/Arrakis.csproj.nuget.g.targets
Arrakis/obj/Debug/netstandard2.1/Arrakis.assets.cache
Arrakis/obj/Debug/netstandard2.1/Arrakis.GeneratedMSBuildEditorConfig.editorconfig
Arrakis/obj/Debug/netstandard2.1/publicized/Assembly-CSharp.dll
Arrakis/obj/Debug/netstandard2.1/publicized/Assembly-CSharp.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/LIV.LCK.dll
Arrakis/obj/Debug/netstandard2.1/publicized/LIV.LCK.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/Photon3Unity3D.dll
Arrakis/obj/Debug/netstandard2.1/publicized/Photon3Unity3D.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonRealtime.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonRealtime.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonUnityNetworking.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonUnityNetworking.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.API.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.API.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.Fusion.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.Fusion.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.PUN.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.PUN.dll.md5
Arrakis/obj/project.assets.json
Arrakis/obj/project.nuget.cache
Arrakis/obj/Debug/netstandard2.1/publicized/PlayFab.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PlayFab.dll
Arrakis/obj/Debug/netstandard2.1/Arrakis.IgnoresAccessChecksTo.cs
