.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj
*.sln
*.unityproj
*.nupkg
*.nupkg.metadata
*.snupkg
*.backup.json
*.tmp
*.temp
*.idx
*.pack
*.bitmap
*.pdb
*.mdb
*.dmp
*.cache
*.log
Thumbs.db
.DS_Store
