Arrakis/obj/Debug/netstandard2.1/Arrakis.csproj.AssemblyReference.cache
.vs/Arrakis/CopilotIndices/17.14.1641.39856/CodeChunks.db
.vs/Arrakis/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
.vs/Arrakis/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
.vs/Arrakis/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/Arrakis/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
.vs/Arrakis/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
.vs/Arrakis/FileContentIndex/431f3d27-30a8-4fe9-8139-a118c13cf714.vsidx
Arrakis/obj/Arrakis.csproj.nuget.dgspec.json
Arrakis/obj/Arrakis.csproj.nuget.g.props
Arrakis/obj/Arrakis.csproj.nuget.g.targets
Arrakis/obj/Debug/netstandard2.1/Arrakis.assets.cache
Arrakis/obj/Debug/netstandard2.1/Arrakis.GeneratedMSBuildEditorConfig.editorconfig
Arrakis/obj/Debug/netstandard2.1/publicized/Assembly-CSharp.dll
Arrakis/obj/Debug/netstandard2.1/publicized/Assembly-CSharp.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/LIV.LCK.dll
Arrakis/obj/Debug/netstandard2.1/publicized/LIV.LCK.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/Photon3Unity3D.dll
Arrakis/obj/Debug/netstandard2.1/publicized/Photon3Unity3D.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonRealtime.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonRealtime.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonUnityNetworking.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonUnityNetworking.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.API.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.API.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.Fusion.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.Fusion.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.PUN.dll
Arrakis/obj/Debug/netstandard2.1/publicized/PhotonVoice.PUN.dll.md5
Arrakis/obj/project.assets.json
Arrakis/obj/project.nuget.cache
Arrakis/obj/Debug/netstandard2.1/publicized/PlayFab.dll.md5
Arrakis/obj/Debug/netstandard2.1/publicized/PlayFab.dll
Arrakis/obj/Debug/netstandard2.1/Arrakis.IgnoresAccessChecksTo.cs
.vs/Arrakis/v17/DocumentLayout.json
.vs/Arrakis/v17/.suo
.vs/Arrakis/FileContentIndex/7459a9b4-fbfe-4b3d-a2c5-a0baa7ac51d3.vsidx
Arrakis/bin/Debug/netstandard2.1/0Harmony.dll
Arrakis/bin/Debug/netstandard2.1/0Harmony.xml
Arrakis/bin/Debug/netstandard2.1/AA.Mothership.dll
Arrakis/bin/Debug/netstandard2.1/ALINE.dll
Arrakis/bin/Debug/netstandard2.1/andywiecko.BurstTriangulator.dll
Arrakis/bin/Debug/netstandard2.1/Arrakis.deps.json
Arrakis/bin/Debug/netstandard2.1/Arrakis.dll
Arrakis/bin/Debug/netstandard2.1/Arrakis.pdb
Arrakis/bin/Debug/netstandard2.1/Assembly-CSharp-firstpass.dll
Arrakis/bin/Debug/netstandard2.1/Assembly-CSharp.dll
Arrakis/bin/Debug/netstandard2.1/AssistantCoreSDKRuntime.dll
Arrakis/bin/Debug/netstandard2.1/AssistantVoiceCommandCommon.dll
Arrakis/bin/Debug/netstandard2.1/AstarPathfindingProject.dll
Arrakis/bin/Debug/netstandard2.1/Autodesk.Fbx.BuildTestAssets.dll
Arrakis/bin/Debug/netstandard2.1/Autodesk.Fbx.dll
Arrakis/bin/Debug/netstandard2.1/Backtrace.Unity.dll
Arrakis/bin/Debug/netstandard2.1/BakeryAPV.dll
Arrakis/bin/Debug/netstandard2.1/BakeryECS.dll
Arrakis/bin/Debug/netstandard2.1/BakeryRuntimeAssembly.dll
Arrakis/bin/Debug/netstandard2.1/BepInEx.dll
Arrakis/bin/Debug/netstandard2.1/BepInEx.Harmony.dll
Arrakis/bin/Debug/netstandard2.1/BepInEx.Harmony.xml
Arrakis/bin/Debug/netstandard2.1/BepInEx.Preloader.dll
Arrakis/bin/Debug/netstandard2.1/BepInEx.Preloader.xml
Arrakis/bin/Debug/netstandard2.1/BepInEx.xml
Arrakis/bin/Debug/netstandard2.1/com.rlabrecque.steamworks.net.dll
Arrakis/bin/Debug/netstandard2.1/Domain_Reload.dll
Arrakis/bin/Debug/netstandard2.1/endel.nativewebsocket.dll
Arrakis/bin/Debug/netstandard2.1/Fusion.Common.dll
Arrakis/bin/Debug/netstandard2.1/Fusion.Log.dll
Arrakis/bin/Debug/netstandard2.1/Fusion.Realtime.dll
Arrakis/bin/Debug/netstandard2.1/Fusion.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Fusion.Sockets.dll
Arrakis/bin/Debug/netstandard2.1/Fusion.Unity.dll
Arrakis/bin/Debug/netstandard2.1/geometry3Sharp.dll
Arrakis/bin/Debug/netstandard2.1/GT_CustomMapSupportRuntime.dll
Arrakis/bin/Debug/netstandard2.1/HarmonyXInterop.dll
Arrakis/bin/Debug/netstandard2.1/K4os.Compression.LZ4.dll
Arrakis/bin/Debug/netstandard2.1/KID.dll
Arrakis/bin/Debug/netstandard2.1/LIV.LCK.dll
Arrakis/bin/Debug/netstandard2.1/LIV.LCK.Streaming.dll
Arrakis/bin/Debug/netstandard2.1/LIV.LCK_GorillaTag.dll
Arrakis/bin/Debug/netstandard2.1/LIV.LCKCore.dll
Arrakis/bin/Debug/netstandard2.1/LIV.LCKCore.ThirdParty.MessagePack.dll
Arrakis/bin/Debug/netstandard2.1/LIV.NativeAudioBridge.dll
Arrakis/bin/Debug/netstandard2.1/MeshBakerCore.dll
Arrakis/bin/Debug/netstandard2.1/MeshBakerExamples.dll
Arrakis/bin/Debug/netstandard2.1/Meta.Net.endel.nativewebsocket.dll
Arrakis/bin/Debug/netstandard2.1/Meta.Voice.Hub.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Meta.Voice.NLayer.dll
Arrakis/bin/Debug/netstandard2.1/Meta.Voice.Opus.dll
Arrakis/bin/Debug/netstandard2.1/Meta.VoiceSDK.Mic.Common.dll
Arrakis/bin/Debug/netstandard2.1/Meta.VoiceSDK.Mic.Other.dll
Arrakis/bin/Debug/netstandard2.1/Meta.Wit.Composer.dll
Arrakis/bin/Debug/netstandard2.1/Meta.Wit.Dictation.dll
Arrakis/bin/Debug/netstandard2.1/Meta.WitAi.dll
Arrakis/bin/Debug/netstandard2.1/Meta.WitAi.Lib.dll
Arrakis/bin/Debug/netstandard2.1/Meta.WitAi.TTS.dll
Arrakis/bin/Debug/netstandard2.1/Meta.XR.Audio.dll
Arrakis/bin/Debug/netstandard2.1/Meta.XR.BuildingBlocks.dll
Arrakis/bin/Debug/netstandard2.1/Meta.XR.EnvironmentDepth.dll
Arrakis/bin/Debug/netstandard2.1/Meta.XR.ImmersiveDebugger.dll
Arrakis/bin/Debug/netstandard2.1/Meta.XR.ImmersiveDebugger.Interface.dll
Arrakis/bin/Debug/netstandard2.1/meta.xr.mrutilitykit.dll
Arrakis/bin/Debug/netstandard2.1/Meta.XR.MultiplayerBlocks.Fusion.dll
Arrakis/bin/Debug/netstandard2.1/Meta.XR.MultiplayerBlocks.Shared.dll
Arrakis/bin/Debug/netstandard2.1/Modio.dll
Arrakis/bin/Debug/netstandard2.1/Modio.Unity.dll
Arrakis/bin/Debug/netstandard2.1/Modio.Unity.Examples.dll
Arrakis/bin/Debug/netstandard2.1/Modio.Unity.UI.dll
Arrakis/bin/Debug/netstandard2.1/Mono.Cecil.dll
Arrakis/bin/Debug/netstandard2.1/Mono.Cecil.Mdb.dll
Arrakis/bin/Debug/netstandard2.1/Mono.Cecil.Pdb.dll
Arrakis/bin/Debug/netstandard2.1/Mono.Cecil.Rocks.dll
Arrakis/bin/Debug/netstandard2.1/Mono.Security.dll
Arrakis/bin/Debug/netstandard2.1/MonoMod.RuntimeDetour.dll
Arrakis/bin/Debug/netstandard2.1/MonoMod.RuntimeDetour.xml
Arrakis/bin/Debug/netstandard2.1/MonoMod.Utils.dll
Arrakis/bin/Debug/netstandard2.1/MonoMod.Utils.xml
Arrakis/bin/Debug/netstandard2.1/NanoSockets.dll
Arrakis/bin/Debug/netstandard2.1/NativeGallery.dll
Arrakis/bin/Debug/netstandard2.1/NavMeshComponents.dll
Arrakis/bin/Debug/netstandard2.1/Newtonsoft.Json.dll
Arrakis/bin/Debug/netstandard2.1/nexus.nexussdk.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Oculus.Haptics.dll
Arrakis/bin/Debug/netstandard2.1/Oculus.Interaction.dll
Arrakis/bin/Debug/netstandard2.1/Oculus.Interaction.OVR.dll
Arrakis/bin/Debug/netstandard2.1/Oculus.Interaction.OVR.Samples.dll
Arrakis/bin/Debug/netstandard2.1/Oculus.Interaction.Samples.dll
Arrakis/bin/Debug/netstandard2.1/Oculus.Interaction.UnityXR.dll
Arrakis/bin/Debug/netstandard2.1/Oculus.Platform.dll
Arrakis/bin/Debug/netstandard2.1/Oculus.VR.dll
Arrakis/bin/Debug/netstandard2.1/Pathfinding.ClipperLib.dll
Arrakis/bin/Debug/netstandard2.1/Pathfinding.Ionic.Zip.Reduced.dll
Arrakis/bin/Debug/netstandard2.1/Pathfinding.Poly2Tri.dll
Arrakis/bin/Debug/netstandard2.1/Photon3Unity3D.dll
Arrakis/bin/Debug/netstandard2.1/PhotonRealtime.dll
Arrakis/bin/Debug/netstandard2.1/PhotonUnityNetworking.dll
Arrakis/bin/Debug/netstandard2.1/PhotonUnityNetworking.Utilities.dll
Arrakis/bin/Debug/netstandard2.1/PhotonVoice.API.dll
Arrakis/bin/Debug/netstandard2.1/PhotonVoice.dll
Arrakis/bin/Debug/netstandard2.1/PhotonVoice.Fusion.dll
Arrakis/bin/Debug/netstandard2.1/PhotonVoice.PUN.dll
Arrakis/bin/Debug/netstandard2.1/PlayFab.dll
Arrakis/bin/Debug/netstandard2.1/Sirenix.OdinInspector.Attributes.dll
Arrakis/bin/Debug/netstandard2.1/Sirenix.OdinInspector.Modules.Unity.Addressables.dll
Arrakis/bin/Debug/netstandard2.1/SteamVR.dll
Arrakis/bin/Debug/netstandard2.1/SteamVR_Actions.dll
Arrakis/bin/Debug/netstandard2.1/System.Runtime.CompilerServices.Unsafe.dll
Arrakis/bin/Debug/netstandard2.1/TechniePhysicsCreator.dll
Arrakis/bin/Debug/netstandard2.1/UniTask.Addressables.dll
Arrakis/bin/Debug/netstandard2.1/UniTask.dll
Arrakis/bin/Debug/netstandard2.1/UniTask.DOTween.dll
Arrakis/bin/Debug/netstandard2.1/UniTask.Linq.dll
Arrakis/bin/Debug/netstandard2.1/UniTask.TextMeshPro.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Addressables.dll
Arrakis/bin/Debug/netstandard2.1/Unity.AI.Navigation.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Animation.Rigging.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Animation.Rigging.DocCodeExamples.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Burst.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Burst.Unsafe.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Cinemachine.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Collections.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Collections.LowLevel.ILSupport.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Formats.Fbx.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.InputSystem.dll
Arrakis/bin/Debug/netstandard2.1/Unity.InputSystem.ForUI.dll
Arrakis/bin/Debug/netstandard2.1/Unity.InternalAPIEngineBridge.013.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Localization.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Mathematics.dll
Arrakis/bin/Debug/netstandard2.1/Unity.MemoryProfiler.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Multiplayer.Center.Common.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Multiplayer.Playmode.Common.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Multiplayer.Playmode.dll
Arrakis/bin/Debug/netstandard2.1/Unity.ProBuilder.Csg.dll
Arrakis/bin/Debug/netstandard2.1/Unity.ProBuilder.dll
Arrakis/bin/Debug/netstandard2.1/Unity.ProBuilder.KdTree.dll
Arrakis/bin/Debug/netstandard2.1/Unity.ProBuilder.Poly2Tri.dll
Arrakis/bin/Debug/netstandard2.1/Unity.ProBuilder.Stl.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Profiling.Core.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Recorder.Base.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Recorder.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Rendering.LightTransport.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipeline.Universal.ShaderLibrary.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipelines.Core.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipelines.Core.Runtime.Shared.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipelines.Core.ShaderLibrary.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipelines.GPUDriven.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipelines.Universal.2D.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipelines.Universal.Config.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipelines.Universal.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.RenderPipelines.Universal.Shaders.dll
Arrakis/bin/Debug/netstandard2.1/Unity.ResourceManager.dll
Arrakis/bin/Debug/netstandard2.1/Unity.ScriptableBuildPipeline.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Splines.dll
Arrakis/bin/Debug/netstandard2.1/Unity.TextMeshPro.dll
Arrakis/bin/Debug/netstandard2.1/Unity.Timeline.dll
Arrakis/bin/Debug/netstandard2.1/Unity.VisualEffectGraph.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.CoreUtils.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.Interaction.Toolkit.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.Management.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.OpenVR.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.OpenXR.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.OpenXR.Features.ConformanceAutomation.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.OpenXR.Features.MetaQuestSupport.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.OpenXR.Features.MockRuntime.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.OpenXR.Features.OculusQuestSupport.dll
Arrakis/bin/Debug/netstandard2.1/Unity.XR.OpenXR.Features.RuntimeDebugger.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.AccessibilityModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.AIModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.AMDModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.AndroidJNIModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.AnimationModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.ARModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.AssetBundleModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.AudioModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.ClothModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.ClusterInputModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.ClusterRendererModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.ContentLoadModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.CoreModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.CrashReportingModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.DirectorModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.DSPGraphModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.GameCenterModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.GIModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.GraphicsStateCollectionSerializerModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.GridModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.HierarchyCoreModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.HotReloadModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.IdentifiersModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.ImageConversionModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.IMGUIModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.InputForUIModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.InputLegacyModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.InputModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.InsightsModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.JSONSerializeModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.LocalizationModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.MarshallingModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.MultiplayerModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.NVIDIAModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.ParticleSystemModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.PerformanceReportingModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.Physics2DModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.PhysicsModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.PropertiesModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.ScreenCaptureModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.ShaderVariantAnalyticsModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.SharedInternalsModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.SpatialTracking.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.SpriteMaskModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.SpriteShapeModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.StreamingModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.SubstanceModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.SubsystemsModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.TerrainModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.TerrainPhysicsModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.TextCoreFontEngineModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.TextCoreTextEngineModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.TextRenderingModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.TilemapModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.TLSModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UI.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UIElementsModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UIModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UmbraModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityAnalyticsCommonModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityAnalyticsModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityConnectModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityConsentModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityCurlModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityTestProtocolModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestAssetBundleModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestAudioModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestTextureModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestWWWModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.VehiclesModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.VFXModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.VideoModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.VirtualTexturingModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.VRModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.WindModule.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.XR.LegacyInputHelpers.dll
Arrakis/bin/Debug/netstandard2.1/UnityEngine.XRModule.dll
Arrakis/bin/Debug/netstandard2.1/Valve.Newtonsoft.Json.dll
Arrakis/bin/Debug/netstandard2.1/VoiceSDK.Dictation.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/VoiceSDK.Runtime.Composer.dll
Arrakis/bin/Debug/netstandard2.1/VoiceSDK.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/VoiceSDK.Telemetry.Runtime.dll
Arrakis/bin/Debug/netstandard2.1/VYaml.Core.dll
Arrakis/bin/Debug/netstandard2.1/websocket-sharp.dll
Arrakis/bin/Debug/netstandard2.1/XNode.dll
Arrakis/bin/Debug/netstandard2.1/ZString.dll
Arrakis/obj/Debug/netstandard2.1/Arrakis.csproj.CoreCompileInputs.cache
Arrakis/obj/Debug/netstandard2.1/Arrakis.csproj.FileListAbsolute.txt
Arrakis/obj/Debug/netstandard2.1/Arrakis.csproj.Up2Date
Arrakis/obj/Debug/netstandard2.1/Arrakis.dll
Arrakis/obj/Debug/netstandard2.1/Arrakis.pdb
Arrakis/obj/Debug/netstandard2.1/Arrakis.sourcelink.json
